In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Mean 2016

In [3]:
df = pd.read_csv('../monica/monica_weather_2010-2015.csv')
df['date'] = pd.to_datetime(df['de-date'], format='%d.%m.%Y')

In [5]:
df.set_index('date', inplace=True)
df = df.asfreq('d')

In [7]:
df.columns

Index(['de-date', 'tavg', 'tmin', 'tmax', 'wind', 'globrad', 'precip',
       'relhumid'],
      dtype='object')

In [8]:
means = df.groupby(by=[df.index.month, df.index.day]).mean()

In [11]:
test = pd.read_csv('../monica/reanalysis_2016.csv')

In [16]:
test.columns

Index(['de-date', 'tavg', 'tmin', 'tmax', 'wind', 'globrad', 'precip',
       'relhumid'],
      dtype='object')

In [17]:
means['de-date'] = test['de-date'].values

In [18]:
means

               tavg       tmin      tmax      wind   globrad    precip  \
date date
1    1    -7.260000  -9.793333 -4.828333  2.795000  2.503333  1.136667
     2    -5.855000  -8.438333 -3.678333  4.471667  2.453333  2.831667
     3    -6.938333 -10.373333 -3.995000  3.745000  2.808333  2.341667
     4    -8.020000 -10.708333 -5.373333  3.575000  2.366667  0.975000
     5    -8.545000 -11.668333 -5.985000  2.990000  2.708333  1.920000
...             ...        ...       ...       ...       ...       ...
12   27   -3.430000  -5.873333 -1.590000  4.141667  2.188333  1.596667
     28   -4.550000  -7.730000 -2.621667  4.506667  2.005000  3.305000
     29   -7.995000 -11.798333 -4.516667  3.468333  2.571667  0.590000
     30   -9.140000 -11.845000 -6.596667  3.765000  2.321667  1.393333
     31   -8.801667 -11.748333 -6.090000  3.160000  2.993333  0.736667

            relhumid     de-date
date date
1    1     97.366667  01.01.2016
     2     97.250000  02.01.2016
     3     96.188333  03.01.2016
     4     97.426667  04.01.2016
     5     97.571667  05.01.2016
...              ...         ...
12   27    93.416667  27.12.2016
     28    93.145000  28.12.2016
     29    96.125000  29.12.2016
     30    94.385000  30.12.2016
     31    93.970000  31.12.2016

[366 rows x 8 columns]

In [19]:
means.to_csv('../monica/means_2016.csv', index=False)

# Mean 2017

In [20]:
df = pd.read_csv('../monica/monica_weather_2011-2016.csv')
df['date'] = pd.to_datetime(df['de-date'], format='%d.%m.%Y')

In [21]:
df.set_index('date', inplace=True)
df = df.asfreq('d')

In [22]:
df.columns

Index(['de-date', 'tavg', 'tmin', 'tmax', 'wind', 'globrad', 'precip',
       'relhumid'],
      dtype='object')

In [29]:
means = df.groupby(by=[df.index.month, df.index.day]).mean()

In [30]:
test = pd.read_csv('../monica/reanalysis_2017.csv')

In [31]:
means = means[means.index != (2, 29)].copy()

In [32]:
means['de-date'] = test['de-date'].values

In [33]:
means

               tavg       tmin      tmax      wind   globrad    precip  \
date date
1    1    -7.076667  -9.125000 -5.056667  2.988333  2.350000  1.226667
     2    -6.165000  -8.266667 -4.241667  4.038333  2.476667  0.703333
     3    -7.025000 -10.096667 -4.553333  3.541667  2.600000  2.238333
     4    -6.830000  -8.945000 -5.158333  4.048333  2.105000  1.240000
     5    -6.978333  -9.685000 -4.683333  3.263333  2.458333  1.960000
...             ...        ...       ...       ...       ...       ...
12   27   -3.486667  -5.705000 -1.705000  4.506667  2.403333  2.110000
     28   -4.356667  -7.371667 -2.401667  4.421667  2.328333  2.305000
     29   -8.386667 -12.208333 -5.153333  3.563333  2.720000  0.225000
     30   -9.133333 -11.965000 -6.448333  3.915000  2.615000  1.338333
     31   -8.541667 -11.573333 -5.866667  3.143333  2.935000  0.680000

            relhumid     de-date
date date
1    1     93.866667  01.01.2017
     2     94.625000  02.01.2017
     3     94.335000  03.01.2017
     4     95.291667  04.01.2017
     5     96.135000  05.01.2017
...              ...         ...
12   27    93.426667  27.12.2017
     28    93.365000  28.12.2017
     29    95.990000  29.12.2017
     30    94.686667  30.12.2017
     31    93.928333  31.12.2017

[365 rows x 8 columns]

In [34]:
means.to_csv('../monica/means_2017.csv', index=False)